<output id="out"></output>
<form name="lol" class="lol">
    <table>
        <tr>
            <td>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter a name">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    <input type="text" class="form-control" id="surname" name="surname" placeholder="Enter a surname" required>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    <input type="text" class="form-control" id="bDate" name="bDate">
                </div>
            </td>
        </tr>
        
        <tr>
            <td>
                <span class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-phone"></span>
                    </span>
                    <input type="text" class="form-control" id="tel" name="tel" placeholder="Only numbers">
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="input-group">
                    <span class="input-group-addon">@</span>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <select id="country" class="form-control" name="country">
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <select id="distance" class="form-control" name="distance">
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <select id="gender" class="form-control" name="gender">
                    <option value="2">Женский</option>
                    <option value="1">Мужской</option>
                </select>
            </td>
        <tr>
            <td colspan=2>
                <button class="btn btn-success" id="bot" title="Does'n work">Auto Fill</button>
                <button class="btn btn-primary" id="save">Save</button>
            </td>
        </tr>
    </table>
</form>