<meta http-equiv="Cache-Control" content="no-cache">
<meta charset="utf-8">
<link rel='shortcut icon' href="<?=SITE?>/source/img/favicon.ico" type='image/x-icon'>
<link rel="stylesheet" href="<?=SITE?>/source/libs/jquery-ui-1.10.4.custom/css/smoothness/jquery-ui-1.10.4.custom.css">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="<?=SITE?>/source/libs/bootstrap/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="<?=SITE?>/source/libs/bootstrap//css/bootstrap-theme.min.css">
<link rel="stylesheet" href="<?=SITE?>/source/css/style.css">

<script type="text/javascript">
    var site = "<?=SITE?>";
</script>

<script type="text/javascript" src="<?=SITE?>/source/libs/jquery-ui-1.10.4.custom/js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="<?=SITE?>/source/libs/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js"></script>
<script type="text/javascript" src="<?=SITE?>/source/js/pe.js"></script>
<script type="text/javascript" src="<?=SITE?>/source/js/script.js"></script>
<script type="text/javascript" src="<?=SITE?>/source/js/edit.js"></script>


<!-- Latest compiled and minified JavaScript -->
